:root{
    --background:black;
    --color:white;
    --text-gradint-bg:rgb(30, 117, 97);
    --text-gradient-1:linear-gradient(90deg,
    rgba(105, 234, 203, 1) 0%,
    rgba(234, 204, 248,1) 50%,
    rgba(102, 84, 241, 1) 100%

    );
    --bg-blob:rgba(55, 13, 90, 0.963);
    --card-border:#282525;
}
